@import url('https://api.fontshare.com/v2/css?f[]=rosaline@400&display=swap');


body, .main{
  
}

.fade-in{
    color: #ff194f;
    opacity: 1;
    background-color: transparent;
    transition: all 1.5s ease;
}

.fade-out{
    color: #FF85A1;
    opacity: 0;
    background-color: transparent;
    transition: all 1.5s ease;
}


.vq{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 30%;
    background-color: #FBB1BD;
    box-shadow: #ff79a1 0px 0px 250px 2px;
    border-radius: 25px;
    opacity: 1;
    transition: all 1.5s ease;
}

.vq > p{
    font-size: 2vw;
    font-weight: 800;
    color: #ff194f;
}

span{
    font-family: 'Rosaline', cursive;
    font-size: 3vw;
    color: #ff004c;
}

.vq-hidden{
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 30%;
    background-color: #FBB1BD;
    box-shadow: #ff79a1 0px 0px 250px 2px;
    border-radius: 25px;
    opacity: 0;
    z-index: -2;
    transition: all 2s ease;
}

.vq > div{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.vq > div > button{
    display: flex;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    font-weight: 800;
    cursor: pointer;
    background-color: #ff194f;
    color: #FF85A1;
    text-indent: 0%;
    transition: all 0.5s ease;
}

.vq > div > button:hover{
    background-color: #cd003e;
    color: #cd003e;
}

.vq > div > button::before{
    content: 'Yes';
    position: absolute;
    opacity: 0;
    color: #ff194f;
}

.vq > div > button:hover::before{
    opacity: 1;
    color: #FF85A1;
}


.vc-hidden{
    position: absolute;
    opacity: 0;
    z-index: -2;
}

.vc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    z-index: 4;
    transition: opacity 2s ease;
}

.vc > h1{
    font-size: 7vh;
    font-weight: 900;
    color: #ff2164;
    -webkit-animation: focus-in-expand 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-expand 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.vc > h1 > span{
    font-size: 10vh;
}

@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

@keyframes vcanim {
    from{
      transform: translate(0px, 36px);
    }
    to {
      transform: translate(0px, 0px);
    }
}

.heartp{
    position: absolute;
    width: 32px; 
    height: 32px; 
    background-color: #ff1414;
    transform: rotate(45deg);
    animation: slide-out-bottom cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    z-index: 2;
}

.heartp:before {
  content: ""; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  height: 100%; 
  background-color: #ff1414;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heartp:after {
  content: ""; 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
  height: 100%; 
  background-color: #ff1414; 
  transform: translateX(-50%);
  border-radius: 50%; 
}

  @keyframes slide-out-bottom {
    0% {
      -webkit-transform: translateY(-110vh);
              transform: translateY(-110vh) rotate(45deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-10vh);
              transform: translateY(-10vh) rotate(45deg);
      opacity: 0;
    }
  }
  

  .vc > div{
    position: absolute;
    bottom: 37%;
    width: 200px;
    height: 50px;
    background-color: #ff004c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    color: #FBB1BD;
    font-size: 1.5vw;
    font-weight: 900;
    left: 0;
    right: 42px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    animation: slide-in-blurred-bottom 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both 7s;
    transition: all 1s ease;
  }

  .vc > div:hover{
    background-color: #cd003e;
    transition: all 1s ease;
  }

  .vc > div:active{
    background-color: #0e0e0e;
  }

  @keyframes shadow-pop-bl {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
              box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e, -3px 3px #3e3e3e, -4px 4px #3e3e3e, -5px 5px #3e3e3e, -6px 6px #3e3e3e, -7px 7px #3e3e3e, -8px 8px #3e3e3e;
      -webkit-transform: translateX(8px) translateY(-8px);
              transform: translateX(8px) translateY(-8px);
    }
  }
  
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  

  @keyframes slide-in-blurred-bottom {
    0% {
      transform: translateY(20vh) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 70%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }
  